<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scrisstudio" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Linx Example</name>
    <description>
        A sample Apache Cordova application.
    </description>
    <author email="slaaker@126.com" href="http://scris.top">
        Dominik Qiu from Scris Studio
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <preference name="StatusBarStyle" value="lightcontent" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-dialogs" spec="~2.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
    <engine name="browser" spec="^5.0.4" />
</widget>
